### Cluster ###
platform: openshift
apb_action: "provision"

### KubeVirt ###
version: 0.13.0
image_pull_policy: IfNotPresent
deploy_demo: true

### Roles ###
storage_role: "storage-none"
network_role: "network-none"


#### Network ####
deploy_cni_plugins: false
deploy_ovs_plugin: false
deploy_sriov_plugin: false
deploy_skydive: false

### Web UI ##
kubevirt_web_ui_operator_image_tag: "latest"
kubevirt_web_ui_branding: "okdvirt"
kubevirt_web_ui_version: "v1.4.0-9"
#kubevirt_web_ui_version: ""

openshift_master_default_subdomain: "router.default.svc.cluster.local"
public_master_hostname: "192.168.42.112:8443"

#
# Example: '"05:00.0", "05:00.1"'
# Note: this assumes that PCI ID pools are the same on all nodes which may be
# not the case in heterogeneous environment.
sriov_pci_ids: ''
